@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Geist+Mono:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(24, 3, 24);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

h1 {
    color: whitesmoke;
    text-shadow: 2px 2px 20px;
}

.main-container {
    width: 30vw;
    height: 60%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    flex-direction: column;
    padding: 20px 0;
    color: whitesmoke;

}

.main-container h2{
    text-align: center;
    margin: 20px 0;
}

#title span {
    color: #00FF9C;
}

.category-box {
    width: 100%;
    height: max-content;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
    flex-wrap: wrap;
    border: 4px solid #00FF9C;
    border-radius: 4px;
    padding: 10px;
    box-shadow: #00FF9C 1px 1px 12px 1px;
}



.select {
    width: 50%;
    padding: 10px 0;
    font-size: 1.3rem;
    border-radius: 4px;
    border: 1.2px solid #00FF9C;
    box-shadow: #00FF9C 1px 1px 12px 1px;
    cursor: pointer;
}



.quizbox {
    width: 35vw;
    height: 50vh;
    border-radius: 6px;
    overflow: hidden;
    border: 4px solid #00FF9C;
    padding: 10px;
    box-shadow: #00FF9C 1px 1px 12px 1px;
}

.question {
    width: 100%;
    height: 60px;
    background-color: #00FF9C;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 3px;
    font-size: 1.3rem;
    text-align: center;
}

.answer {
    width: 100%;
    height: 60%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
}

.btn {
    width: 100%;
    height: 50px;
    /* background-color: #00FF9C; */
    text-align: center;
    padding: 0 20px;
    gap: 10px;
    border: 0;
    border-radius: 2px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #00FF9C;
font-weight: 600;
}

.btn:hover:not([disabled]) {
    background-color: #848786b6;
    color: black;
}

.btn:disabled {
    color: black;
}

.buttons {
    width: 100%;
    height: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    border-top: 3px solid #00FF9C;
}

.buttons button {
    width: 10vw;
    padding: 10px 20px;
    font-size: 1vw;
    border: 0;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    background-color: #00FF9C;
}

.buttons button:hover {
    transform: scale(1.02);
}

.correct {
    background-color: rgba(69, 255, 91, 0.707);
    color: black;
}

.incorrect {
    background-color: rgba(255, 69, 69, 0.89);
    color: black;
}


@media screen and (max-width:425px){

    body{
        justify-content: center;
        gap: 20px;
    }
    .main-container {
        width: 90vw;
    }
    .main-container h2{
        text-align:center;
        margin: 10px 0;
    }

    .category-box{
        border: 2px solid #00FF9C;
    }

    .quizbox {
        width: 90vw;
        height: 62%;
        border: 2px solid #00FF9C;
        margin-top: 40px ;
    }

    .question {
        height: 50px;
        font-size: 1rem;
        font-weight: 600;
    }

    .answer {
       font-size: 20px;
    }
    .answer button{
        padding: 12px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    .buttons button {
        width: 30vw;
        font-size: 1rem;
    }

    .answer h1{
        font-size: 1.5rem;
    }

    #next{
        width: max-content;
    }
}
